{
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "singleQuote": true,
  "printWidth": 200,
  "tailwindPreserveDuplicates": true,
  "tailwindPreserveWhitespace": false,
  "tailwindConfig": "tailwind.config.ts",
  "plugins": ["prettier-plugin-tailwindcss"]
}
