@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* img {
  image-rendering: auto;
  filter: blur(0);
  -webkit-filter: blur(0);
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
} */

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --font-outfit: 'Outfit', sans-serif;
    --font-pixel: 'Pixelify Sans', sans-serif;
    --font-tagalog: 'Noto Sans Tagalog', sans-serif;
  }
}

body {
  font-family: var(--font-outfit), var(--font-pixel), var(--font-tagalog);
  background-color: '#FDF0D5';
  margin: 0px;
  padding: 0px;
}

/* main {
  background-image: linear-gradient(90deg, #80808012 1px, #0000 0), linear-gradient(180deg, #80808012 1px, #0000 0);
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

#skills h3 {
  @apply font-semibold;
}

#skills ul {
  @apply mb-5 mr-5 min-w-80 max-w-lg;
}

#skills ul li {
  @apply my-1 mr-1 inline-block whitespace-nowrap bg-blue-200 px-1.5 py-1 text-sm leading-4 text-gray-900;
}

.print-button {
  display: block;
}

.print-page-break {
  break-after: page;
}

@media print {
  @page {
    size: a4 portrait;
  }

  @page :left {
    margin-top: 0.5in;
  }

  .print-button {
    display: none;
  }
}

.gridLine {
  position: relative;
  height: auto;
  width: 100%;
  background-image: radial-gradient(circle, rgb(203 213 225) 2px, #fdf0d5 2px);
  background-size: 2.5rem 2.5rem;
  background-position: center center;
}
